main {
  display: grid;
  place-items: center;
  height: 100%;
}

main section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, auto));

  height: 30rem;
  width: 57.5rem;
  max-width: 90vw;
  min-width: 20rem;

  margin: 0 auto;
  padding: 0 20px;
}
